#controlPanel {
  padding: 1rem;
}

#statusPanel {
  padding: 1rem;
}

#inventory {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.1rem 1rem;
  border: 2px solid black;
  font-size: 1rem;
}

.token {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 20px;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50%;
  background-color: yellow;
  color: black;
}

#map {
  width: 100%;
  height: 80vh;
}
